.Home {
  position: relative;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 10% auto;

  background-image: url(./images/b1.jpg);
  background-repeat: no-repeat;
  background-size: 101% 101%;
  background-position: -5px -5px;
}
.page {
  display: grid;
  grid-template-columns: 25% auto;
}
.addresscontract {


  margin-top: 10vh;

  
  border-radius: 18px;
 
  padding: 8px 30px;
  margin-left: 8vw;

  height: 70vh;
  width: 95%;
  background-color: #2B3143;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation: slide-in-right 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

}.addresscontractexit{
  margin-top: 10vh;

  
  border-radius: 18px;
 
  padding: 8px 30px;
  margin-left: 8vw;

  height: 70vh;
  width: 95%;
  background-color: #2B3143;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation:slide-out-right 2s cubic-bezier(.55,.085,.68,.53) both;animation:slide-out-right 2s cubic-bezier(.55,.085,.68,.53) both
  
}
@-webkit-keyframes slide-out-right{0%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}100%{-webkit-transform:translateX(1000px);transform:translateX(1000px);opacity:0}}@keyframes slide-out-right{0%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}100%{-webkit-transform:translateX(1000px);transform:translateX(1000px);opacity:0}}
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}.profileclass{

  height: 100%;
  width: 80%;
  color: white;

}
.contenanttable {
  margin-top: 10vh;

  overflow: hidden;

  position: relative;
}
.infinite-container {
  border: 1px solid #e8e8e8;
  border-radius: 18px;
  overflow: auto;
  padding: 8px 30px;
  margin-left: auto;
  margin-right: auto;
  height: 70vh;
  width: 95%;

  background-color: #fffdff;
  box-shadow: 0 4px 8px 0 rgba(43, 49, 67, 0.2), 0 6px 10px 0 rgba(43, 49, 67, 0.8);
}
.infinite-container::-webkit-scrollbar {
  width: 0;
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.search {
  padding-top: 20px;
  height: 8vh;
  width: 60%;
}
.SE {
  position: absolute;
  left: 35%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 50%;
}
.addconaitner {
  position: absolute;

  width: 60px;
  height: 60px;
  left: 25.4%;
  bottom: 69vh;
}
#add {
  position: absolute;
  background-color: #2B3143;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.add:hover {
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transform: scale(1.25, 1.25);

  transform: scale(1.25, 1.25) rotate(180deg);
}
