.Home {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 25% 75%;

  background-image: url(./images/b1.jpg);
  background-repeat: no-repeat;
  background-size: 101% 101%;
  background-position: -5px -5px;
}
.contenant {
  width: 100%;
  display: grid;
  grid-template-rows: 15% 85%;
  margin-top: 15vh;
}
.addresscontract {
  margin: auto;
  margin-bottom: 5%;
}
table body {
  display: table-header-group;
}
.qr {
  margin: 30%;
  margin-top: 50%;
}

.bar {
  width: 100%;
  background-color: bleue;
}
.addfile {
  display: grid;
  grid-template-columns: 50% 50%;
}

.profil1e {
  width: 100%;
  height: 100vh;
}

.SE {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 50%;
}
.infinite-container {
  border: 1px solid #e8e8e8;
  border-radius: 18px;
  overflow: auto;
  padding: 8px 30px;
  margin-left: auto;
  margin-right: auto;
  height: 70vh;
  width: 95%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.infinite-container::-webkit-scrollbar {
  width: 0;
}
.loading-container {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
}
.search {
  padding-top: 20px;
  padding-left: 20%;
  height: 8vh;
  width: 85%;
}
.contenanttable {
  position: fixed;
  width: 73%;
  height: 100vh;
}
.add {
  top: 12vh;
  left: 0.4ch;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.add:hover {
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transform: scale(1.25, 1.25);

  transform: scale(1.25, 1.25) rotate(180deg);
}
