.main {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.myVideo {
	background-position: 100vw;
	object-fit: cover;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0vh;
	left: 0vw;
}
.container {
	display: grid;
	grid-row: 45% auto;

	object-fit: cover;
	min-width: 100vw;
	min-height: 100vh;
	position: fixed;
	align-self: center;
	justify-self: center;
}
.wrap {
	width: 100%;
	height: 100%;
	min-width: 100vw;
	min-height: 10%;
	display: grid;
	place-content: center;
}
.text {
	display: flex;

	font-family: "Exo 2", sans-serif;
	font-weight: 600;
	color: white;
	font-size: 10vh;

	display: inline-block;
	text-shadow: #bbb 0 0 1px, #fff 0 -1px 2px, #fff 0 -3px 2px,
		rgba(0, 0, 0, 0.8) 0 30px 25px;
	transition: margin-left 0.3s cubic-bezier(0, 1, 0, 1);
}
#in {
	padding-bottom: 50vh;
}
.commente {
	display: grid;

	height: 5vh;
	display: grid;
	grid-row: 45% auto;

	justify-self: center;
}
.comm {
	color: #fff;
}
.bot {
	display: grid;
	grid-row: 45% auto;
	display: grid;
	place-content: center;
}
.botin {
	min-width: 10vw;
	max-width: 15vw;

	display: grid;
	grid-row: 45% auto;
	display: grid;
	place-content: center;
}
